#openbtn::selection {
    background-color: rgba(0, 0, 0, 0);
}

#openbtn::-moz-selection {
    background-color: rgba(0, 0, 0, 0);
}

#openbtn::-webkit-selection {
    background-color: rgba(0, 0, 0, 0);
}

#openbtn::-o-selection {
    background-color: rgba(0, 0, 0, 0);
}

#ctrl *::selection {
    background-color: rgba(0, 0, 0, 0);
}

#ctrl *::-moz-selection {
    background-color: rgba(0, 0, 0, 0);
}

#ctrl *::-webkit-selection {
    background-color: rgba(0, 0, 0, 0);
}

#ctrl *::-o-selection {
    background-color: rgba(0, 0, 0, 0);
}

#openm::selection {
    background-color: rgba(0, 0, 0, 0);
}

#openm::-moz-selection {
    background-color: rgba(0, 0, 0, 0);
}

#openm::-webkit-selection {
    background-color: rgba(0, 0, 0, 0);
}

#openm::-o-selection {
    background-color: rgba(0, 0, 0, 0);
}